<section class="main-header">
  <img src="/images/twitterClone.png">
</section>

<section class="about">
  <h1>About TwitterClone</h1>
  <p>
    TwitterCloneは、Twitterを真似たつぶやきアプリです。<br>
  </p>
  <p>
    思い思いのつぶやきができます。
  </p>
</section>
<section class="function">
  <h1>Function</h1>
  <div class="function-images">
    <div class="function-image">
      <img src="/images/key.png">
      <p>ログイン機能</p>
      <p class="incomplete">未実装</p>
    </div>
    <div class="function-image">
      <img src="/images/mails.png">
      <p>メール送信機能</p>
      <p class="incomplete">未実装</p>
    </div>
    <div class="function-image">
      <img src="/images/girls.png">
      <p>友達つながり機能</p>
      <p class="incomplete">未実装</p>
    </div>
    <div class="function-image">
      <img src="/images/comment.png">
      <p>コメント投稿機能</p>
      <p class="incomplete">未実装</p>
    </div>
  </div>
</section>
